{% extends 'logined.html' %}
{% block content %}
<div class="row  pt-5">
    <div class="col"></div>
    <div class="col-6">
        <h1 class="text-center p-3">New Leave Application </h1>
        <form action="#" method="POST" class="NewApplicationForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="startdate" class="form-label">Start Date</label>
                <input type="date" class="form-control" name="startdate" id="startdate" aria-describedby="emailHelp"
                    onblur="verify()" required>
            </div>
            <div class="mb-3">
                <label for="enddate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="enddate" name="enddate" aria-describedby="enddateFeedback"
                    onblur="verify()" required>
                <div id="enddateFeedback" class="invalid-feedback">
                    Start Date Should be before end date.
                </div>
            </div>

            <div class="mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" rows="3" name="description" id="description" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="submitbutton" disabled=False>Submit</button>
        </form>
    </div>
    <div class="col"></div>
</div>

<script>
    function verify() {
        var from = document.getElementById('startdate').value;
        var to = document.getElementById('enddate').value;

        if ((!from || from.trim().length === 0) || (!to || to.trim().length === 0)) {
            return;
        }

        var splitFrom = from.split('-');
        var splitTo = to.split('-');


        var fromDate = Date.parse(from);
        var toDate = Date.parse(to);
        console.log(from, fromDate, to, toDate, fromDate - toDate)

        if (fromDate >= toDate) {
            document.getElementById('startdate').className = "form-control is-invalid";
            document.getElementById('enddate').className = "form-control is-invalid";
            document.getElementById('submitbutton').disabled = true;
        }
        else {
            document.getElementById('startdate').className = "form-control is-valid";
            document.getElementById('enddate').className = "form-control is-valid";
            document.getElementById('submitbutton').disabled = false;
        }

    }
</script>
{% endblock%}