{% extends "base.html" %}

{% block content %}

<!-- <div class="col-md-6 col-md-offset-4"> -->
<div class="row  pt-5">
    <div class="col"></div>
    <div class="col-6">

        <div class=" container">

            <div class="card">
                <div class="card-header bg-dark">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active text-white" id="nav-basic-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-basic" type="button" role="tab" aria-controls="nav-basic"
                                aria-selected="true" onClick="basic_log()">Employee Login</button>
                            <button class="nav-link text-white" id="nav-special-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-special" type="button" role="tab" aria-controls="nav-special"
                                aria-selected="false" onClick="special_log()">Special
                                Login</button>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <form class="LoginForm" , action="#" , method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" value="" type="text" class="form-control" id="username"
                                required>
                            <div id="loginHelp" class="form-text">Enter your Username.</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                        </div>

                        <div class="mb-3 form-check" style="position:absolute; right:-5000px;">
                            <input type="checkbox" class="form-check-input" id="is_cross" name="is_cross" checked=false>
                            <label class="form-check-label" for="is_cross">Cross Cutting</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<script>
    document.body.style.overflow = 'hidden';
    document.getElementById("nav-basic-tab").className = "nav-link active text-black";
    document.getElementById("is_cross").checked = false;

    function special_log() {
        document.getElementById("is_cross").checked = true;
        document.getElementById("nav-basic-tab").className = "nav-link text-white";
        document.getElementById("nav-special-tab").className = "nav-link active text-black";
    }

    function basic_log() {
        document.getElementById("is_cross").checked = false;
        document.getElementById("nav-basic-tab").className = "nav-link active text-black";
        document.getElementById("nav-special-tab").className = "nav-link text-white";
    }
</script>
{% endblock %}