{% extends 'logined.html' %}

{% block content %}


<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Application Requests:</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Faculty-Id</th>
          <th class="text-center">Name</th>
          <th class="text-center">Application Date</th>
          <th class="text-center">Starting Date</th>
          <th class="text-center">No. Of Leaves</th>
          <th class="text-center">Description</th>
        </tr>
        {% for i in details %}
        <tr>
          <td class="pt-3-half" contenteditable="false">{{i.fac_id}}</td>
          <td class="pt-3-half" contenteditable="false">{{i.f_name}} {{i.s_name}}</td>
          <td class="pt-3-half" contenteditable="false">{{i.app_date}}</td>
          <td class="pt-3-half" contenteditable="false">{{i.start_date}}</td>
          <td class="pt-3-half" contenteditable="false">{{i.n_leaves}}</td>
          <td class="btn btn-primary btn-rounded btn-sm my-0" data-bs-toggle="collapse"
            href="#multiCollapseExampleBA{{i.fac_id}}" role="button" aria-expanded="false"
            aria-controls="multiCollapseExampleBA{{i.fac_id}}" style="background-color:grey;">Comments</td>
        <tr class="collapse multi-collapse" id="multiCollapseExampleBA{{i.fac_id}}">

          <td colspan="2">
            <input type="radio" form="reqform{{i.fac_id}}" class="btn-check" data-bs-toggle="collapse"
              href="#multiCollapseExampleA{{i.fac_id}}" aria-expanded="false"
              aria-controls="multiCollapseExampleA{{i.fac_id}}" onclick="control(0, {{i.fac_id}})" autocomplete="off"
              id="success{{i.fac_id}}" name="verdict" value=2 checked>
            <label class="btn btn-outline-success" for="success{{i.fac_id}}">Approve</label>


            <input type="radio" form="reqform{{i.fac_id}}" class="btn-check" data-bs-toggle="collapse"
              href="#multiCollapseExampleA{{i.fac_id}}" aria-expanded="false"
              aria-controls="multiCollapseExampleA{{i.fac_id}}" onclick="control(1, {{i.fac_id}})" name="verdict"
              id="primary{{i.fac_id}}" value=1>
            <label class="btn btn-outline-primary" for="primary{{i.fac_id}}">Redirect</label>



            <input type="radio" form="reqform{{i.fac_id}}" class="btn-check" data-bs-toggle="collapse"
              href="#multiCollapseExampleA{{i.fac_id}}" aria-expanded="false"
              aria-controls="multiCollapseExampleA{{i.fac_id}}" onclick="control(2, {{i.fac_id}})" name="verdict"
              id="danger{{i.fac_id}}" value=0>
            <label class="btn btn-outline-danger" for="danger{{i.fac_id}}">Reject</label>


            <div class="collapse multi-collapse" id="multiCollapseExampleA{{i.fac_id}}">
              <form method="POST" class="RequestForm" id="reqform{{i.fac_id}}">
                {% csrf_token %}
                <label for="faculty_id" class="form-label" hidden>FacultyID</label>
                <input type="number" id="faculty_id" name="faculty_id" value="{{i.fac_id}}" hidden>
                <div class=" mb-3">
                  <label for="comments" class="form-label">Comments</label>
                  <textarea class="form-control" name="comments" id="description{{i.fac_id}}"
                    style="height: 100px;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

          </td>
          <!-- <td>
            <H5>Comments: </H5>
          </td> -->

          <td colspan="4">
            {% for comm in i.comms %}
            <div class="row">
              <div class="col-5"><b>{{comm.from}}: </b></div>
              <div class="col-7">{{comm.body}} </div>
            </div>
            {% endfor %}
          </td>
        </tr>


        </tr>
        {% endfor%}
      </table>
    </div>
  </div>
</div>

<script>
  function control(val, id) {
    dict = ["Your Application is Approved.", "Please Provide More Details.", "That won't be possible."];
    if (document.getElementById("description" + id).value != dict[val]) {
      document.getElementById("description" + id).value = dict[val];
      document.getElementById("multiCollapseExampleA" + id).className = "multi-collapse collapse show";
    }



  }
</script>


{% endblock%}